[project]
	description = Blacklight provides a discovery interface for any Solr (http://lucene.apache.org/solr) index.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nurul Ferdous (dynamicguy)
[access "refs/for/refs/*"]
	read = group user/Nurul Ferdous (dynamicguy)
	push = group user/Nurul Ferdous (dynamicguy)
	label-Code-Review = -2..+2 group user/Nurul Ferdous (dynamicguy)
	label-Verified = -1..+1 group user/Nurul Ferdous (dynamicguy)
	rebase = group user/Nurul Ferdous (dynamicguy)
	removeReviewer = group user/Nurul Ferdous (dynamicguy)
	submit = group user/Nurul Ferdous (dynamicguy)
[access "refs/heads/*"]
	read = group user/Nurul Ferdous (dynamicguy)
	create = group user/Nurul Ferdous (dynamicguy)
	push = +force group user/Nurul Ferdous (dynamicguy)
	pushMerge = group user/Nurul Ferdous (dynamicguy)
[access "refs/tags/*"]
	push = +force group user/Nurul Ferdous (dynamicguy)
	pushTag = group user/Nurul Ferdous (dynamicguy)
	pushSignedTag = group user/Nurul Ferdous (dynamicguy)
